@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

/*NAV BAR START*/
nav {
  display: flex;
  align-items: center;
  height: 8vh;
  width: 100%;
  position: fixed;
  font-size: 22px;
  justify-content: space-around;
  padding: 1.5rem 3.5rem;
  /*box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);*/
  background: #1b1b1b;
  color: white;
  z-index: 1;
}

nav li {
  display: inline-block;
  font-weight: bold;
}

nav ul {
  display: flex;
  justify-content: space-around;
  width: 30rem;
}

nav ul a {
  text-decoration: none;
  color: white;
}

nav li a:hover {
  /*border-bottom: 3px solid white;*/
  color: rgb(248, 213, 11);
  transition: 0.3s ease;
}

.burger-menu {
  color: #fcfcfc;
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}
/*NAV BAR END*/

/*HERO SECTION*/
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 40px;
  background-color: #1b1b1b;
  color: white;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.1em solid rgb(0, 0, 0); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: typing 2s steps(40, end), blink-caret 0.9s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*HERO SECTION END*/

/*ABOUT SECTION*/
.about {
  padding: 6rem 24rem;
  height: auto;
}

.about h2 {
  text-align: center;
  font-size: 35px;
  margin: 20px 0px;
}

.about p {
  line-height: 1.7rem;
  padding: 0.4rem;
}

/*SKILLS*/
.skills {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}

.icon {
  width: 11.875rem;
  height: 11.25rem;
}

.icon-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  padding: 10px;
  margin: 10px;
}

.icon:hover {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.6);
  transition: 0.3s;
}

/*PROJECTS SECTION*/
.projects {
  padding: 6rem 6rem;
  height: auto;
  background-color: rgba(202, 194, 194, 0.2);
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-link {
  text-decoration: none;
  color: blue;
}

.project-pic {
  width: 100%;
  height: 100%;
}

.projects h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 40px;
}

.project-container {
  text-align: center;
  width: 21.875rem;
  padding: 1rem;
}

.project-container p {
  padding: 0.4rem;
}

.project-title {
  margin-bottom: 0.5rem;
}

.project-details {
  margin-bottom: 0.5rem;
}

.project-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin: 20px;
  transition: all 0.3s;
}

.project-container:hover {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.6);
  transform: scale(1.1);
}

/*CONTACT SECTION*/
.contact {
  height: auto;
  padding: 6rem 6rem;
}

.contact h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 35px;
}

.contact-form-container {
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 0.938rem;
}

.contact-form-container label {
  line-height: 2.7em;
  font-weight: 700;
  color: black;
}

.contact-form-container textarea {
  min-height: 6.25rem;
  font-size: 14px;
}

.contact-form-container .input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: none;
  border: 2px outset black;
  font-size: 0.875rem;
  outline: none;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 700;
}

.submit-btn:hover {
  background: #1b1b1b;
  color: white;
  cursor: pointer;
}

/*FOOTER SECTION*/
footer {
  /*background: -webkit-linear-gradient(left, rgb(0, 225, 255), rgb(0, 17, 255));*/
  background-color: #1b1b1b;
  padding: 1.25rem;
  text-align: center;
  color: white;
}

.footer-icons {
  margin: 1rem;
}

.footer-icons a {
  text-decoration: none;
}

@media screen and (max-width: 720px) {
  /*changes reflects on screen with a width of 720px and below*/
  nav {
    padding: 1.5rem 1rem;
  }

  nav ul {
    position: fixed;
    background-color: #1b1b1b;
    border-radius: 11px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    top: 86px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }

  nav ul li {
    margin: 8px;
  }

  .burger-menu {
    display: block;
  }

  nav ul.show {
    transform: translateX(0);
  }

  .hero {
    flex-direction: column;
    gap: 0;
  }

  .bio {
    margin-top: 15rem;
    width: 20.5rem;
  }

  .about {
    margin-top: 14rem;
    padding: 1rem 3.5rem;
  }

  .about h2 {
    text-align: center;
  }

  .about p {
    text-align: justify;
  }

  .icon {
    width: 5.875rem;
    height: 5.25rem;
  }

  .projects-container {
    flex-direction: column;
  }

  .project-container {
    width: 20.875rem;
  }

  .contact-form-container {
    max-width: 23.75rem;
  }
}

@media screen and (max-width: 420px) {
  .bio {
    width: 18.3rem;
  }

  .project-container {
    width: 17.875rem;
  }

  .contact-form-container {
    max-width: 17.75rem;
  }
}
